src/main/app/sys-dso-usage.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="dsoDailyUsageFlow">
        <logger level="INFO" doc:name="Logger" message="flow = start = dsoDailyUsageFlow"/>
        <flow-ref name="dsoAuthFlow" doc:name="dsoAuthFlow"/>
        <set-variable variableName="currentDate" value="#[server.dateTime.plusDays(-1).format(&quot;MM-dd-yyyy&quot;)]" doc:name="currentDate"/>
        <set-session-variable variableName="payloadBeforeUntilSuccess" value="#[payload]" doc:name="Session Variable"/>
                <until-successful maxRetries="${dso.http.max.retries}" millisBetweenRetries="${dso.http.milliSecondsBetweenRetries}" failureExpression="exception!=null &amp;&amp; (exception.causedBy(java.io.IOException) || exception.causedBy(java.net.ConnectException)  || exception.causedBy(java.net.SocketTimeoutException))" synchronous="true" doc:name="Until Successful">
            <http:request config-ref="DSO_Request_Configuration" path="${dso.api.usage.path}" method="GET" doc:name="Dso_GetUsage">
                <http:request-builder>
                    <http:query-param paramName="billingDay" value="#[flowVars.currentDate]"/>
                    <http:header headerName="Authorization" value="Bearer #[flowVars.dsoToken]"/>
                </http:request-builder>
            </http:request>
        </until-successful>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="flow = end = dsoDailyUsageFlow" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="dsoMonthlyUsageFlow">
        <logger message="flow = start = dsoMonthlyUsageFlow" level="INFO" doc:name="Logger"/>
        <flow-ref name="dsoAuthFlow" doc:name="dsoAuthFlow"/>
        <set-variable variableName="currentDate" value="#[server.dateTime.plusDays(-1).format(&quot;MM-dd-yyyy&quot;)]" doc:name="currentDate"/>
        <set-session-variable variableName="payloadBeforeUntilSuccess" value="#[payload]" doc:name="Session Variable"/>
                <until-successful maxRetries="${dso.http.max.retries}" millisBetweenRetries="${dso.http.milliSecondsBetweenRetries}" failureExpression="exception!=null &amp;&amp; (exception.causedBy(java.io.IOException) || exception.causedBy(java.net.ConnectException)  || exception.causedBy(java.net.SocketTimeoutException))" synchronous="true" doc:name="Until Successful">
            <http:request config-ref="DSO_Request_Configuration" path="${dso.api.usage.path}" method="GET" doc:name="Dso_GetUsage">
                <http:request-builder>
                    <http:query-param paramName="billingDay" value="#[flowVars.currentDate]"/>
                    <http:header headerName="Authorization" value="Bearer #[flowVars.dsoToken]"/>
                </http:request-builder>
            </http:request>
        </until-successful>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="flow = end = dsoMonthlyUsageFlow" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
