src/main/app/sys-dso-auth.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
<flow name="dsoAuthFlow">
        <logger level="INFO" doc:name="Logger" message="flow = start = dsoAuthFlow" category="com.merrillcorp.q2c"/>
        <dw:transform-message doc:name="Transform DSO Message to get Token">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	password: p("dso.password"),
	username: p("dso.username"),
	client_id: p("dso.clientId"),
	client_secret: p("dso.clientSecret"),
	grant_type : p("dso.grantType")
	
}]]></dw:set-payload>
        </dw:transform-message>
        <set-session-variable variableName="payloadBeforeUntilSuccess" value="#[payload]" doc:name="Session Variable"/>
        <until-successful maxRetries="${dso.http.max.retries}" millisBetweenRetries="${dso.http.milliSecondsBetweenRetries}" failureExpression="exception!=null &amp;&amp; (exception.causedBy(java.io.IOException) || exception.causedBy(java.net.ConnectException)  || exception.causedBy(java.net.SocketTimeoutException))" synchronous="true" doc:name="Until Successful">
            <http:request config-ref="DSO_Auth_Request_Configuration" path="${dso.auth.path}" method="POST" doc:name="DSO_GetToken">
                <http:request-builder>
                    <http:header headerName="Content-Type" value="application/x-www-form-urlencoded"/>
                </http:request-builder>
            </http:request>
        </until-successful>
        <logger message=" In getDSOAuth_Sub_Flow after Dso_GetToken *** Payload *** #[message.payloadAs(java.lang.String)] " level="DEBUG" category="com.merrillcorp.q2c" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform DSO Response to Java">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="dsoToken" value="#[payload.access_token]" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="flow = end = dsoAuthFlow" level="DEBUG" category="com.merrillcorp.q2c" doc:name="Logger"/>
    </flow>
</mule>
